*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.food{
    height: 100vh;
    margin-top: 1rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}