*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.food{
    height: auto;
    margin-top: 0rem;
    padding: 0 rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: linear-gradient(#3D405B, #575c85);
}