.foodDonation_container{
    text-align: center;
    justify-content: space-around;
    margin-right: 2rem;
    background-color:#ffffff;
    border:2px solid #6B5B95;
    padding: 2rem;
    border-radius: 20px;

    
}
.foodDonation_heading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: #6B5B95;
    margin: 2rem;
    margin-bottom: 4rem;

}
form{
    display: flex;
   
    flex-direction: column;
    
    justify-content: space-around;
}

.form_element{
    display: flex;
    width:auto;
    height: 9rem;
    flex-direction: column;
    
    
}
label{
    display: block;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
#foodName, #quantity, #expiryDate, #address{
    width: 800px;
    align-items: center;
    position: relative;
    text-align: center;
    margin:auto;
    margin-top:30px;
    outline: 0;
    font-size: 1.5rem;
    border-width: 0 0 5px;
    border-color: #6B5B95;
    background-color: #ffffff;
    

}

#foodDonation_submit-btn{
    width: 30%;
    margin: 20px 0;
    height: 70px;
    border-radius: 15px;
    border: none;
    background-color: #6B5B95;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s;
    margin: auto;
}