.vision{
    display: flex;
    height: 60vh;
    padding: 30px 60px;
    margin: 30px;
    align-items: center;
    justify-content: space-between;
}

.vision-text{
    width: 50%;
    height: 55vh;
    display: flex;
    flex-direction: column;
}



.vision-heading{
    color: black;   
    font-size: 5rem;
    margin-bottom: 10px;
}

.vision-subheading{
    font-size: 2.5rem;
    font-weight: 350;
}

.vision-img{
    background-image: url("../../assets/info-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 55vh;
    
}

@media (max-width: 998px) {
    .aboutus{
        flex-direction: column;
    }
}


@media (max-width: 520px) {
    .aboutus{
        flex-direction: column;
    }
}