.partner-page {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    margin-bottom: 4rem;
}


.partner {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-size: 2rem;
}