.partner-page {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    margin-bottom: 4rem;
  }
  
  .partner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  