.helpcard {
    margin: 30px 80px;
    padding: 60px;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
    display: flex;
}


.help-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.help-heading span {
    color: red;
    font-weight: 600;
}