@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  width: 100%;
  height: 7rem;
  display: grid;
  grid-template-columns: 5rem 1fr 2fr 1fr 5rem;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 10px 10px -20px, rgba(0, 0, 0, 0.2) 0px 10px 50px -30px;

  margin-bottom: 10px;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;



  span{
    color: red;
    font-weight: 500;
  }
}

.nav-items {
  grid-column: 3/4;
}

.nav-items ul {
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo h2 {
  font-size: 3rem;
  font-weight: 450;
  margin-right: 3rem;
  color: rgb(0, 0, 0);
}

.logo h2 span {
  font-size: 3.5rem;
}
.nav-items ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}

.nav-items ul li:hover > a {
  color: rgb(248, 10, 10);
  transition: 0.5s;
}


.header-login .hamburger-menu {
  display: none;
}


.header-login{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;

    .btn-nav{
      padding: 1rem 2rem;
      font-size: 1.2rem;
      border: 1.5px solid transparent;
      background: rgb(250, 1, 1);
      color: white;
      font-weight: 500;
    }
    
    .btn-nav:hover{
      background-color: #f5f5f5;
      color: black;
      cursor: pointer;
    }
}

@media (max-width: 1080px) {
  .main {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .nav-items ul {
    height: 8rem;
  }

  .header-login button {
    height: 5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 998px) {
  .main {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .nav-items {
    display: none;
  }

  .logo {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .header-login button {
    display: none;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .header-login {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .header-login .social-media-desktop {
    height: 0;
    display: none;
  }

  .header-login {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .header-login .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .main {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo {
    height: 6rem;
  }

  .header-login {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .header-login .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .header-login {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .header-login .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}
